<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theMedHub</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/styles3.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">medSpace</a></li>
            <li><a href="/insure">medInsure</a></li>
            <li><a href="/assist">medAssist</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href=""><img src="images/globe.svg"></a></li>
        </ul>
    </div>