<%- include("partials/nav.ejs") %>

<div class="container">
    <div class="section1">
      <h1>About</h1>
    </div>
  </div>

  <div class="section2">
    <div class="card">
      <p>
        <b class="black"> MedHub</b> is an innovative web application designed to streamline and
        secure medical history management through the integration of advanced
        technologies such as Web3 and blockchain. It comprises three primary
        sections: MedSpace, MedAssist, and MedInsure.
      </p>
      
      <p>  <b class="black"> MedSpace </b> serves as a
        comprehensive platform offering doctor assistance, access to medical
        tests, and a marketplace for medicines. This section ensures that
        users have all the necessary tools and resources to manage their
        healthcare efficiently and conveniently.</p>
        <p> <b class="black">  MedAssist </b> is dedicated to
        providing support with medical policies. This includes guidance on
        navigating complex healthcare regulations, understanding policy
        details, and optimizing healthcare benefits, ensuring users make
        informed decisions about their medical coverage.</p>
        <p> <b class="black">  MedInsure </b> focuses on
        extending medical insurance assistance to rural areas. By leveraging
        technology, MedInsure aims to bridge the gap in healthcare
        accessibility, providing underserved communities with essential
        insurance coverage and financial protection against medical expenses.
        MedHub employs robust authentication mechanisms and secure data
        storage solutions through blockchain technology, ensuring user data is
        protected from unauthorized access and tampering. By integrating these
        features, MedHub enhances the overall healthcare experience, making it
        more accessible, transparent, and secure for all users.
      </p>
    </div>
  </div>

<%- include("partials/footer.ejs") %>