<%- include("partials/header.ejs") %>

<div class="section-3">
    <h1>What we offer?</h1>
    <div class="card-container">
        <div class="card card1">
            <a href="#"><img src="images/medspace.jpg"></a>
            <div class="card-text card-text1 none">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum expedita doloribus ut culpa, tempora odio, consectetur, quaerat libero aperiam cumque excepturi vitae reprehenderit nesciunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates culpa distinctio placeat adipisci. Vel, adipisci quisquam totam aperiam libero ad.
            </div>
        </div>
        <div class="card card2">
            <a href="#"><img src="images/medassist.jpg"></a>
            <div class="card-text card-text2 none">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum expedita doloribus ut culpa, tempora odio, consectetur, quaerat libero aperiam cumque excepturi vitae reprehenderit nesciunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates culpa distinctio placeat adipisci. Vel, adipisci quisquam totam aperiam libero ad.
            </div>
        </div>
        <div class="card card3">
            <a href="#"><img src="images/medinsure.jpg"></a>
            <div class="card-text card-text3 none">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum expedita doloribus ut culpa, tempora odio, consectetur, quaerat libero aperiam cumque excepturi vitae reprehenderit nesciunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates culpa distinctio placeat adipisci. Vel, adipisci quisquam totam aperiam libero ad.
            </div>
        </div>
    </div>
</div>

<div class="section-4">
    <h1>Frequently Asked Questions</h1>
    <ul id="accordian">
        <li>
            <label for="first">How to book an appointment? <span>&#x3e</span></label>
            <input type="radio" name="accordian" id="first" checked>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quibusdam id tempora aspernatur consequuntur voluptatem velit nisi omnis numquam maxime minima et error voluptas excepturi, laudantium dolore dignissimos magnam dolorum inventore? Nemo in dolor voluptate.</p>
            </div>
        </li>
        <li>
            <label for="second">What is Accordian? <span>&#x3e</span></label>
            <input type="radio" name="accordian" id="second">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quibusdam id tempora aspernatur consequuntur voluptatem velit nisi omnis numquam maxime minima et error voluptas excepturi, laudantium dolore dignissimos magnam dolorum inventore? Nemo in dolor voluptate.</p>
            </div>
        </li>
        <li>
            <label for="third">What is Accordian? <span>&#x3e</span></label>
            <input type="radio" name="accordian" id="third">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quibusdam id tempora aspernatur consequuntur voluptatem velit nisi omnis numquam maxime minima et error voluptas excepturi, laudantium dolore dignissimos magnam dolorum inventore? Nemo in dolor voluptate.</p>
            </div>
        </li>
        <li>
            <label for="fourth">What is Accordian? <span>&#x3e</span></label>
            <input type="radio" name="accordian" id="fourth">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quibusdam id tempora aspernatur consequuntur voluptatem velit nisi omnis numquam maxime minima et error voluptas excepturi, laudantium dolore dignissimos magnam dolorum inventore? Nemo in dolor voluptate.</p>
            </div>
        </li>
        <li>
            <label for="fifth">What is Accordian? <span>&#x3e</span></label>
            <input type="radio" name="accordian" id="fifth">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quibusdam id tempora aspernatur consequuntur voluptatem velit nisi omnis numquam maxime minima et error voluptas excepturi, laudantium dolore dignissimos magnam dolorum inventore? Nemo in dolor voluptate.</p>
            </div>
        </li>
    </ul>
</div>
<%- include("partials/footer.ejs") %>