<%- include("partials/header.ejs") %>
<div class="cardContainer">
    <h1 class="head">Available Government Policies</h1>

    <div class="cards">
        <div class="card">
            <h2 class="policy-name">Ayushman Policy</h2>
            <p class="description">Ayushman Bharat is an attempt to move from sectoral and segmented approach of health service delivery to a comprehensive need-based health care service. This scheme aims to undertake path breaking.....</p>
            <button class="btn"><a href="">Know More</a></button>
        </div>

        <div class="card">
            <h2 class="policy-name">Aam Aadmi Bima Yojana (AABY)</h2>
            <p class="description">It is a government-sponsored social security scheme that aims to provide affordable life insurance coverage to the unorganized sector of the population in India......</p>
            <button class="btn"><a href="">Know More</a></button>
        </div>

        <div class="card">
            <h2 class="policy-name">Bhamashah Swasthya Bima Yojana</h2>
            <p class="description">It is a government-sponsored social security scheme that aims to provide affordable life insurance coverage to the unorganized sector of the population in India......</p>
            <button class="btn"><a href="">Know More</a></button>
        </div>

        <div class="card">
            <h2 class="policy-name">Awaz Health Insurance Scheme</h2>
            <p class="description">It is a government-sponsored social security scheme that aims to provide affordable life insurance coverage to the unorganized sector of the population in India......</p>
            <button class="btn"><a href="">Know More</a></button>
        </div>
        <div class="card">
            <h2 class="policy-name">Awaz Health Insurance Scheme</h2>
            <p class="description">It is a government-sponsored social security scheme that aims to provide affordable life insurance coverage to the unorganized sector of the population in India......</p>
            <button class="btn"><a href="">Know More</a></button>
        </div>
        <div class="card">
            <h2 class="policy-name">Awaz Health Insurance Scheme</h2>
            <p class="description">It is a government-sponsored social security scheme that aims to provide affordable life insurance coverage to the unorganized sector of the population in India......</p>
            <button class="btn"><a href="">Know More</a></button>
        </div>
        <div class="card">
            <h2 class="policy-name">Awaz Health Insurance Scheme</h2>
            <p class="description">It is a government-sponsored social security scheme that aims to provide affordable life insurance coverage to the unorganized sector of the population in India......</p>
            <button class="btn"><a href="">Know More</a></button>
        </div>
        <div class="card">
            <h2 class="policy-name">Awaz Health Insurance Scheme</h2>
            <p class="description">It is a government-sponsored social security scheme that aims to provide affordable life insurance coverage to the unorganized sector of the population in India......</p>
            <button class="btn"><a href="">Know More</a></button>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>